<!DOCTYPE html>
<html>
	<head>
		<title>{{ title }} {{ sitename }}</title>
		<link rel='icon' type='image/x-icon' href='{{rooturl}}/favicon.png'>
		<link rel='stylesheet' href='{{rooturl}}/css/style.css'>
	</head>
	<body>
		<div id='Container'>

			<header>
				<div id='Logo'><a href='{{rooturl}}'><img src='{{rooturl}}/logo.svg' alt='{{ sitename }}'></a></div>
			</header>

			<nav>
				<a href='{{rooturl}}'>Home</a>
				<a href='{{rooturl}}/articles/'>Articles</a>
				<a href='{{rooturl}}/art/'>Art</a>
			</nav>

			<main>
