// VARIABLES -------------------------------------------------------------------
$left-margin:10rem;
$header-height:5rem;

/* GENERAL ===================================================================*/
html {
	// Always display scrollbar on browsers with a scrollbar
	height:100%;
	margin:0 0 1px 0;
	overflow-y:scroll;
}

a {
	text-decoration:none;
}


/* CONTAINER =================================================================*/
#Container {
	max-width:64rem;
	margin:0 auto 0 $header-height;
}


/* HEADER ====================================================================*/
header {
	display:block;
	padding:1rem 0 0;
	width:100%;
	height:$header-height;
}
#Logo {
	display:inline-block;
	width:$left-margin;
	height:$header-height;

	img {
		width:100%; height:100%;
	}
}
nav {
	display:inline-block;
	transform:translateX( -.5rem );
	vertical-align:top;
	line-height:$header-height;

	a, a:visited {
		display:inline-block;
		padding:.25rem;
		margin:0 1rem 0 0;
	}

	a:hover {}
	a:active {}
}


/* MAIN ======================================================================*/
main {
	display:block;
	box-sizing:border-box;
	width:100%;
	padding:0 1rem 0 $left-margin;
}

ul#Articles {
	margin:0;
	padding:0;
	list-style:none;
}


/* FOOTER ====================================================================*/
footer {
	display:block;
	padding:2rem 1rem 0 $left-margin;
}
