/*\
|*| DECORATION -----------------------------------------------------------------
\*/

html, body, #Container {
	background-color:$mainBgCol;
	color:$mainTxtCol;
}

h1, h2, h3 {
	color:$headTxtCol;
}

// LINKS -----------------------------------------------------------------------
a, a:visited {
	text-decoration:none;
	color:$linkTxtCol;
	border-bottom:1px solid $linkTxtCol;
	transition:color 0.3s linear, border-color 0.3s linear;
}
a:hover, a:active {
	color:$linkHovCol;
	border-color:darken( $linkHovCol, 1% );
}

// HEADER ----------------------------------------------------------------------
nav {
	border-bottom:1px solid $subBgCol;
}
