$mainAccentCol: #FF715B;
$subAccentCol: #D37883;

$headTxtCol: #9C99A8;
$mainTxtCol: #7B758E;
$subTxtCol: #B2B1C6;
$linkTxtCol: #D37883;
$linkHovCol: #FF7C8C;
$linkNavUnderline: #E6B7B7;

$mainBgCol: #F9F5EA;
$subBgCol: #F0D6D0;

//------------------------------------------------------------------------------

html {
	background-color:$mainBgCol;
	color:$mainTxtCol;
}

h1, h2, h3 {
	color:$headTxtCol;
}

h2, h3 {
	border-bottom:1px solid $subTxtCol;
}

pre { color:$subTxtCol; }

a, a:visited {
	color:$linkTxtCol;
	border-bottom:1px solid $linkTxtCol;
	transition:color 0.3s linear, border-color 0.3s linear;
}
a:hover, a:active {
	color:$linkHovCol;
	border-color:darken( $linkHovCol, 1% );
}

nav {
	a, a:visited {
		border-color:$linkNavUnderline;
	}
	a:hover, a:active {
		border-color:$linkTxtCol;
	}

}

nav {
	border-bottom:1px solid $subBgCol;
}

/*------------------------------------------------------------------------------
-- ANIMATIONS ----------------------------------------------------------------*/
@-moz-keyframes fadeIn {
	0%		{ opacity:0; }
	100%	{ opacity:1; }
}
@-webkit-keyframes fadeIn {
	0%		{ opacity:0; }
	100%	{ opacity:1; }
}
@keyframes fadeIn {
	0%		{ opacity:0; }
	100%	{ opacity:1; }
}

#Logo {
	a img {
		transform:scale3d( 1,1,1 );
		transition:transform .2s ease-out;
	}

	a:hover img, a:focus img, a:active img {
		transform:scale3d( 1.05,1.05,1.05 );
	}
}

#Container {
	-moz-animation:fadeIn .75s ease-out;
	-webkit-animation:fadeIn .75s ease-out;
	animation:fadeIn .75s ease-out;
}
