$mainAccentCol: #FF715B;
$subAccentCol: #D37883;

$headTxtCol: #9C99A8;
$mainTxtCol: #7B758E;
$subTxtCol: #B2B1C6;
$linkTxtCol: #D37883;
$linkHovCol: #FF7C8C;

$mainBgCol: #F9F5EA;
$subBgCol: #E8D7F1;

//------------------------------------------------------------------------------

html {
	background-color:$mainBgCol;
	color:$mainTxtCol;
}

h1, h2, h3 {
	color:$headTxtCol;
}

h2, h3 {
	border-bottom:1px solid $subTxtCol;
}

pre { color:$subTxtCol; }

a, a:visited {
	color:$linkTxtCol;
	border-bottom:1px solid $linkTxtCol;
	transition:color 0.3s linear;
}
a:hover, a:active {
	color:$linkHovCol;
}

/*------------------------------------------------------------------------------
-- ANIMATIONS ----------------------------------------------------------------*/
@-moz-keyframes fadeIn {
	0%		{ opacity:0; transform:translate3d( 0, 5rem, 0); }
	100%	{ opacity:1; transform:translate3d(0,0,0); }
}

@-webkit-keyframes fadeIn {
	0%		{ opacity:0; transform:translate3d( 0, 5rem, -5rem); }
	100%	{ opacity:1; transform:translate3d(0,0,0); }
}

@keyframes fadeIn {
	0%		{ opacity:0; transform:translateY(5rem); }
	100%	{ opacity:1; transform:translateY(0); }
}

#Logo a img {
	transform:scale3d( 1,1,1 );
	transition:transform .2s ease-out;
}
#Logo a:hover img {
	transform:scale3d( 1.05,1.05,1.05 );
}

#Container {
	-moz-animation:fadeIn .5s ease-out;
	-webkit-animation:fadeIn .5s ease-out;
	animation:fadeIn .5s ease-out;
}
