/*\
|*| TYPOGRAPHY -----------------------------------------------------------------
\*/

// Sizing ----------------------------------------------------------------------
html { font-size:120%; }
body { line-height:1.5rem; }

h1, h2, h3 {
	line-height:2.25rem;
}

h1 {
	margin:1.5rem 0;
	font-size:2rem;
}
h2 {
	font-size:1.8rem;
}
h3 {
	font-size:1.2rem;
}

ul.list {
	p { margin:0; }
	h3 { margin:0; line-height:1.5rem; }
}

// Links -----------------------------------------------------------------------


// Fonts -----------------------------------------------------------------------
html { font-family:$mainTxtFont; }

h1, h2, h3 { font-family:$headTxtFont; }

// Decoration ------------------------------------------------------------------
dt {
	font-weight:600;
}

article {
	font-weight:400;
	strong {
		font-weight:600;
	}
}
