$step: 10rem;

//------------------------------------------------------------------------------

// Always display scrollbars
html {
	height:100%;
	margin:0 0 1px;
	overflow-y:scroll;
}

// All containers use sexy border-box sizing
header, #Logo, nav, main, footer {
	box-sizing:border-box;
}

// Container -------------------------------------------------------------------
#Container {
	margin:0 auto;
	max-width:56rem;
	width:100%;
}


// Page header -----------------------------------------------------------------
header {
	overflow:visible;
	padding:1rem 0 0;
}
#Logo {
	position:absolute;
	width:$step;
	padding:0 1rem;

	a {
		border:0 none;
	}

	img { width:100%; }
}
nav {
	width:100%;
	padding:$step*.25 0 0 0;
	margin:0 $step 0;

	a {
		display:inline-block;
		margin:0 1rem -1px 0;
	}
}


// Main content wrapper --------------------------------------------------------
main {
	overflow:hidden;
	width:100%;
	padding:0 2rem $step $step;
}

#Articles {
	list-style:none;
	padding:0;

	dt { font-weight:bold; }
	dd {
		margin:0;
		p {
			margin:0;
		}
	}
}

// Page footer -----------------------------------------------------------------
footer {
	height:$step;
	padding:0 0 0 $step;
}
