$step: 10rem;

//------------------------------------------------------------------------------

// Always display scrollbars
html {
	margin:0 0 1px;
	overflow-y:scroll;
}

// All containers use sexy border-box sizing
#Container, #Logo, footer {
	box-sizing:border-box;
}

// Container -------------------------------------------------------------------
#Container {
	position:relative;
	margin:0 auto;
	padding:0 2.5% 0 0;
	max-width:56rem;
	width:97.5%;
}


// Page header -----------------------------------------------------------------
header {
	padding:1rem 0 0;
	width:100%;
}
#Logo {
	position:absolute;
	width:$step;
	padding:0 1rem;

	a { border:0 none; }
	img { width:100%; }
}
nav {
	padding:$step*.25 0 0 0;
	margin:0 0 0 $step;

	a {
		display:inline-block;
		margin:0 1rem -1px 0;
	}
}


// Main content wrapper --------------------------------------------------------
main {
	padding:0 2rem 2rem $step;
}

#Articles {
	list-style:none;
	padding:0;

	dt { font-weight:bold; }
	dd {
		margin:0;
		p {
			margin:0;
		}
	}
}

// Page footer -----------------------------------------------------------------
footer {
	text-align:center;
	margin:0 0 0 $step;
}
